/***************************************************
	       http://infrasoft.com.ar
***************************************************
Autor: Ariel Marcelo Diaz
Desarrollo: Infrasoft Servicios Informaticos
sitio web: http://infrasoft.com.ar
***************************************************/
body 
{
	/*background-image: url("../img/bg.png");*/
	background-color: white;
}

h1 
{
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

h2
{
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

header
{
	margin: 25px;
	padding: 25px;
}

.logo
{
	max-width: 250px;
	max-height: 250px;
	margin-top: -10px;
}

.main
{
	margin: 10px;
	padding: 10px;
	padding-top: 50px;
	margin-top: 40px;
}

.nav
{
	padding-right: 25px;
}

.table
{
    border-radius: 25px 25px 25px 25px;
    border-bottom: 2px;
}


/**********
 * Jarida Estilos
 */
/* latin-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(http://fonts.gstatic.com/s/oswald/v11/yg0glPPxXUISnKUejCX4qfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(http://fonts.gstatic.com/s/oswald/v11/pEobIV_lL25TKBpqVI_a2w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: local('Oswald Bold'), local('Oswald-Bold'), url(http://fonts.gstatic.com/s/oswald/v11/dI-qzxlKVQA6TUC5RKSb3xJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: local('Oswald Bold'), local('Oswald-Bold'), url(http://fonts.gstatic.com/s/oswald/v11/bH7276GfdCjMjApa_dkG6VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/****************
 * Formulario 
 */

.formulario
{
	padding: 15px;
	margin: 15px;
	text-align: center;
}

.cantidad
{
    min-width:280px;
}

.error
{
    color: red;
    text-align: center;
}

/************************
 * End Formulario
 */
footer
{
	text-align: center;
	font-size: 10px;
}

/********************************************
  * Adaptacion para dispositivos moviles 
  ***************************************
  */
 @media screen and ( max-width:800px)
 {
 	.logo
{
	max-width: 200px;
	max-height: 200px;
	margin-top: -10px;
}
}