/***************************************************
	       http://infrasoft.com.ar
***************************************************
Autor: Ariel Marcelo Diaz
Desarrollo: Infrasoft Servicios Informaticos
sitio web: http://infrasoft.com.ar
***************************************************/
body 
{
	background-image: url("../img/bg.png");
}

h1 
{
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

h2
{
	font-size: 20px;
	font-weight: bold;
}

header
{
	margin: 25px;
	padding: 25px;
}

.logo
{
	max-width: 250px;
	max-height: 250px;
	margin-top: -10px;
}

.main
{
	margin: 10px;
	padding: 10px;
	padding-top: 50px;
	margin-top: 40px;
}

.nav
{
	padding-right: 25px;
}
/****************
 * Formulario 
 */

.formulario
{
	padding: 15px;
	margin: 15px;	
}

/************************
 * End Formulario
 */
footer
{
	text-align: center;
	font-size: 10px;
}

/********************************************
  * Adaptacion para dispositivos moviles 
  ***************************************
  */
 @media screen and ( max-width:800px)
 {
 	.logo
{
	max-width: 200px;
	max-height: 200px;
	margin-top: -10px;
}
}